@import url('https://fonts.cdnfonts.com/css/general-sans');

@font-face {
  font-family: 'Figma Sans VF:Regular';
  src: local('General Sans'), local('Inter'), local('system-ui');
  font-weight: 400;
}

@font-face {
  font-family: 'Figma Sans VF:Bold';
  src: local('General Sans'), local('Inter'), local('system-ui');
  font-weight: 700;
}
